node_modules
.git
.github
.vscode
.idea
*.md
!package.json
.env
.env.*
**/dist
**/.next
**/coverage
**/test
**/tests
**/__tests__
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/playwright-report
**/e2e
docs
